@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body{
    font-family: 'Montserrat', sans-serif;
} */

h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.header{
    
    width: 100vw;
    height: 50vh;
    background-image: url("./abstract background.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.navbar{
    margin-top: 20px;
    margin-right: 20px;
}

.header-txt{
    transform: translate(200px, -150px);
    color: white;
}


/* /* img{
    width: 350px;
    height: 350px;
    /* /* width: 25%; 
    float: left; 
    object-fit: cover;
    margin: 20px;
} */


img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.photo-section{
    display: inline-grid;
    grid-template-rows: 25% 100px auto;
    row-gap: 10px;    
}

